@import url('https://fonts.googleapis.com/css?family=Roboto:300');

.BG {
	color: black;
}

#navbarResponsive {
	text-shadow: 1px 1px 2px deepskyblue, 0 0 45px blue, 0 0 45px dodgerblue;
}

.masthead {
	text-shadow: 1px 1px 2px deepskyblue, 0 0 45px blue, 0 0 45px dodgerblue;
	color: white;
	display: table;
	width: 100%;
	height: auto;
	padding: 200px 0;
	text-align: center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.masthead .intro-body .brand-heading {
	font-size: 25px;
}

.masthead .intro-body .intro-text {
	font-size: 10px;
	word-spacing: 20px;
}

body {
	font-family: 'Lora', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	position: relative;
	width: 100%;
	height: 100%;
	color: white;
	background-color: black;
}

html {
	width: 100%;
	height: 100%;
}

#about {
	padding-bottom: 100px;
}

#late{
	text-shadow: 1px 1px 2px black, 0 0 45px blue, 0 0 45px black;
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

#footer {
font-size: 10px;
	word-spacing: 15px;
}

p {
	font-size: 15px;
	line-height: 1.5;
	margin: 0 0 25px;
	word-spacing: 50px;
}

#ul {

	list-style-type: none;
	font-size: 30px;
}

#ul-1 {

	list-style-type: none;
	margin-top: 750px;
	font-size: 30px;
}

.intro-text {
	font-size: 25px;
	word-spacing: 10px;
}

#about {
	font-size: 20px;
}

#web {
	margin-top: 50px;
	font-size: 20px;
	text-align: center;
	word-spacing: 40px;
	padding-top: 115px;
}

@media (min-width: 768px) {
	p {
		font-size: 35px;
		line-height: 1.6;
		margin: 0 0 35px;
	}
}

a {
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	color: #42DCA3;
}

a:focus, a:hover {
	text-decoration: none;
	color: #1d9b6c;
}

#mainNav {
	text-shadow: 1px 1px 10px deepskyblue, 0 0 45px blue, 0 0 45px dodgerblue;
	font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	margin-bottom: 0;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	background-color: black;
}

#mainNav .navbar-toggler {
	font-size: 14px;
	padding: 11px;
	color: white;
	border: 1px solid white;
}

#mainNav .navbar-brand {
	font-weight: 700;
}

#mainNav a {
	color: white;
}

#mainNav .navbar-nav .nav-item {
	-webkit-transition: background 0.3s ease-in-out;
	-moz-transition: background 0.3s ease-in-out;
	transition: background 0.3s ease-in-out;
}

#mainNav .navbar-nav .nav-item:hover {

	outline: none;
	background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
	outline: none;
	background-color: transparent;
}

@media (min-width: 992px) {
	#mainNav {
		padding-top: 20px;
		padding-bottom: 20px;
		-webkit-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
		-moz-transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
		transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
		letter-spacing: 1px;
		border-bottom: none;
		background: transparent;
	}

	#mainNav.navbar-shrink {
		padding-top: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		background: black;
	}

	#mainNav .nav-link.active {
		outline: none;
		background-color: rgba(255, 255, 255, 0.3);
	}

	#mainNav .nav-link.active:hover {
		color: white;
	}
}

.jumbotron {
	webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	height: 100%;
	width: 100%;
	background: transparent;
}

.content-section-2 {
background-color(black);

}

.download {
background-color(black);
}

ul.banner-social-buttons {
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		margin-top: 15px;
	}
}

@media (max-width: 767px) {
	ul.banner-social-buttons li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons li:last-child {
		margin-bottom: 0;
	}
}

.tuna {
	animation: walk-cycle 1s steps(12) infinite;
	background: url(http://stash.rachelnabors.com/img/codepen/tuna_sprite.png) 0 0 no-repeat;
	height: 200px;
	width: 400px;
	position: absolute;
	bottom: 1px;
	left: 50%;
	margin-left: -200px;
	transform: translateZ(0); /* offers a bit of a performance boost by pushing some of this processing to the GPU in Safari*/
}

@keyframes walk-cycle {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: 0 -2391px;
	}
}

.foreground, .midground, .background-2 {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
translate3d(0, 0, 0);
}

.foreground {
	animation: parallax_fg linear 10s infinite both;
	background: url(http://stash.rachelnabors.com/24ways2012/foreground_grass.png) 0 100% repeat-x;
	z-index: 3;
}

@keyframes parallax_fg {
	0% {
		background-position: -3584px 100%;
	}
	100% {
		background-position: 0 100%;
	}
}

.midground {
	animation: parallax_mg linear 20s infinite;
	background: url(http://stash.rachelnabors.com/24ways2012/midground_grass.png) 0 100% repeat-x;
	z-index: 2;
}

@keyframes parallax_mg {
	0% {
		background-position: -3000px 100%;
	}
	100% {
		background-position: 0 100%;
	}
}

.background-2 {
	/*background-image: url(http://stash.rachelnabors.com/24ways2012/background_mountain5.png),
	url(http://stash.rachelnabors.com/24ways2012/background_mountain4.png),
	url(http://stash.rachelnabors.com/24ways2012/background_mountain3.png),
	url(http://stash.rachelnabors.com/24ways2012/background_mountain2.png),*/
	url(http://stash.rachelnabors.com/24ways2012/background_mountain1.png);

	background-repeat: repeat-x;
	background-position: 0 100%;
	z-index: 1;
	animation: parallax_bg linear 40s infinite;
}

@keyframes parallax_bg {
	100% {
		background-position-x: 2400px, 2000px, 1800px, 1600px, 1200px;
	}
}

body {
	background: linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%),
	#d2d2d2 url(http://stash.rachelnabors.com/24ways2012/background_clouds.png);
}

@keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-webkit-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-moz-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@-ms-keyframes move-twink-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: -10000px 5000px;
	}
}

@keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

@-webkit-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

@-moz-keyframes move-clouds-back {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 10000px 0;
	}
}

@-ms-keyframes move-clouds-back {
	from {
		background-position: 0;
	}
	to {
		background-position: 10000px 0;
	}
}

.stars,
.twinkling,
.clouds {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	display: block;
}

.stars {
	background: #000 url(http://sylvaingarnot.fr/media/stars.png) repeat top center;
	z-index: 0;
}

/*.twinkling {
background: transparent url(http://sylvaingarnot.fr/media/twinkling.png) repeat top center;
z-index: 1;
-moz-animation: move-twink-back 200s linear infinite;
-ms-animation: move-twink-back 200s linear infinite;
-o-animation: move-twink-back 200s linear infinite;
-webkit-animation: move-twink-back 200s linear infinite;
animation: move-twink-back 200s linear infinite;
}*/
.clouds {
	background: transparent url(http://sylvaingarnot.fr/media/clouds.png) repeat top center;
	z-index: 3;
	-moz-animation: move-clouds-back 200s linear infinite;
	-ms-animation: move-clouds-back 200s linear infinite;
	-o-animation: move-clouds-back 200s linear infinite;
	-webkit-animation: move-clouds-back 200s linear infinite;
	animation: move-clouds-back 200s linear infinite;
}

#contact {
	background-image: url("../images/balloon.png");
	text-shadow: 5px 5px 4px black, 0 0 45px blue, 0 0 45px black;
	background-repeat: no;
	background-size: cover;
	padding-top: 230px;
	margin-top: 170px;

}

::-moz-selection {
	background: #fcfcfc;
	background: rgba(255, 255, 255, 0.2);
	text-shadow: none;
}

::selection {
	background: #fcfcfc;
	background: rgba(255, 255, 255, 0.2);
	text-shadow: none;
}

img::selection {
	background: transparent;
}

img::-moz-selection {
	background: transparent;
}

.content-section {
	text-shadow: 1px 1px 2px deepskyblue, 0 0 45px blue, 0 0 45px dodgerblue;
}