# this forces SSL connection
RewriteCond %{HTTPS} !=on
RewriteRule (.*) https://brink.solutions/$1 [L]

RewriteEngine on
RewriteCond %{HTTP_HOST} ^brink.solutions$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.brink.solutions$
RewriteCond %{REQUEST_URI} !public_html/
RewriteRule (.*) /public_html/$1 [L]